pairs:
  ig: Ignacio Galindo
  ae: Alejandro Espinoza
  hp: Heriberto Perez
  vv: Victor Velazquez
  rb: Ruben Betancourt
  ro: Radames Ochoa
  sm: Sergio Morales
  hm: Hadriel Marquez
  ed: Edgar Diaz
  jn: Juan Negrete
  lv: Luis Velasco
  jt: Jonathan Tapia
  fc: Fernando Castellanos
  dv: David Vega
  ro: Raul Osorio
email:
  domain: hackd.mx