default: &default
  adapter: postgresql
  host: 127.0.0.1
  encoding: utf8
  user: postgres
  password:

development:
  <<: *default
  database: hackd_dev

test:
  <<: *default
  database: hackd_test
