default: &default
  adapter: postgresql
  host: 127.0.0.1
  encoding: utf8
  user:
  password:

development:
  <<: *default
  database: hackd_dev
  hola: <% 1 + 2 %>

test:
  <<: *default
  database: hackd_test
